[submodule "deps/td-shim"]
	path = deps/td-shim
	url = https://github.com/confidential-containers/td-shim
[submodule "deps/rust-spdm"]
	path = deps/rust-spdm
	url = https://github.com/intel/rust-spdm
[submodule "deps/rust-tpm-20-ref/ms-tpm-20-ref"]
	path = deps/rust-tpm-20-ref/ms-tpm-20-ref
	url = https://github.com/microsoft/ms-tpm-20-ref.git
[submodule "deps/rust-tpm-20-ref/openssl"]
	path = deps/rust-tpm-20-ref/openssl
	url = https://github.com/openssl/openssl.git
[submodule "deps/rust-tpm-20-ref/smallc/musl"]
	path = deps/rust-tpm-20-ref/smallc/musl
	url = https://git.musl-libc.org/git/musl
[submodule "deps/linux-sgx"]
	path = deps/linux-sgx
	url = https://github.com/intel/linux-sgx.git
