on:
    push:
      paths-ignore:
        - "**.md"
    pull_request:
      paths-ignore:
        - "**.md"

name: Format and Clippy

env:
  AS: nasm
  AR: llvm-ar
  CC: clang

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Initialize and update submodules
        run: |
          git config --global http.postBuffer 524288000
          git config --global   http.sslVerify "false"
          git submodule update --init --recursive --depth 1

      # Install first since it's needed to build NASM
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@82fd451e4380968e8336eefc5b8b9292a619de01 # v2.0.3
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: install NASM
        uses: ilammy/setup-nasm@13cbeb366c45c4379d3478cdcbadd8295feb5028 # v1.5.1

      - name: Install toolchain with clippy available
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          profile: minimal
          toolchain: nightly-2023-12-31
          override: true
          components: clippy

      - name: Preparation Work
        run: bash sh_script/pre-build.sh

      - name: Run cargo clippy
        run: cargo clippy -- -A clippy::redundant_field_names

  rustfmt:
    name: Format
    runs-on: ubuntu-20.04
    steps:

      # Install first since it's needed to build NASM
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@82fd451e4380968e8336eefc5b8b9292a619de01 # v2.0.3
        with:
          version: "10.0"
          directory: ${{ runner.temp }}/llvm

      - name: install NASM
        uses: ilammy/setup-nasm@13cbeb366c45c4379d3478cdcbadd8295feb5028 # v1.5.1

      - name: Checkout sources
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Initialize and update submodules
        run: |
          git config --global http.postBuffer 524288000
          git config --global   http.sslVerify "false"
          git submodule update --init --recursive --depth 1

      - name: Install toolchain with rustfmt available
        uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          profile: minimal
          toolchain: nightly-2023-12-31
          override: true
          components: rustfmt

      - name: Preparation Work
        run: bash sh_script/pre-build.sh

      - name: Run cargo check
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
        with:
          command: check

      - name: Run cargo fmt
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
        with:
          command: fmt
          args: -- --check